name = "GXBeam"
uuid = "974624c9-1acb-4ad6-a627-8ac40fc27a3e"
authors = ["Taylor McDonnell <taylor.golden.mcdonnell@gmail.com> and contributors"]
version = "0.3.2"

[deps]
ArnoldiMethod = "ec485272-7323-5ecc-a04f-4719b315124d"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearMaps = "7a12625a-238d-50fd-b39a-03d52299707e"
NLsolve = "2774e3e8-f4cf-5e23-947b-6d7e65073b56"
OffsetArrays = "6fe1bfb0-de20-5000-8ca7-80f57d26f881"
Roots = "f2b01f46-fcfa-551c-844a-d8ac1e96c665"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
UnPack = "3a884ed6-31ef-47d7-9d2a-63182c4928ed"
WriteVTK = "64499a7a-5c06-52f2-abe2-ccb03c286192"

[compat]
ArnoldiMethod = "0.0.4, 0.2"
ForwardDiff = "0.10"
LinearMaps = "2, 3"
NLsolve = "4"
OffsetArrays = "1"
Roots = "1"
SciMLBase = "1"
StaticArrays = "0.12, 1.0"
WriteVTK = "1"
julia = "1.5"
